<<<<<<< HEAD
.footer{
=======
.footer
{
>>>>>>> f642b9a (init)
    text-align: center;
    background-color: darkblue;
    color: aliceblue;
    padding: 10px 0;
    font-weight: bold;
<<<<<<< HEAD
=======
    
>>>>>>> f642b9a (init)
}